:root {
  --sidebar-width-active: 200px;
  --sidebar-width-inactive: 50px;
  overflow: hidden;
}

.App {
  text-align: left;
}

.SignIn {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signin-form {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 200px;
  gap: 5px;
}

.signin-form input {
  width: 200px;
}

.signin-form button {
  cursor: pointer;
}

.Home {
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 50px;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: var(--sidebar-width-inactive);
  background-color: #12171e;
  color: white;
  padding: 0.4rem 0.8rem;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: var(--sidebar-width-active);
}

.main-content {
  position: relative;
  left: var(--sidebar-width-inactive);
  width: calc(100% - var(--sidebar-width-inactive));
  transition: all 0.5s ease;
}

.sidebar.active ~ .main-content {
  left: var(--sidebar-width-active);
  width: calc(100% - var(--sidebar-width-active));
}

.sidebar .header {
  font-size: 24px;
  color: white;
  user-select: none;
}

.sidebar .header button {
  position: absolute;
  top: 0.4rem;
  left: 50%;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-size: 24px;
  border: none;
  transition: all 0.5s ease;
}

.sidebar.active .header button {
  left: 90%;
}

.sidebar .menu-items {
  display: flex;
  flex-flow: column nowrap;
  list-style-type: none;
  padding-left: 0;
  margin-top: 50px;
  opacity: 0;
}

.sidebar.active .menu-items {
  transition: all 0.8s ease;
  opacity: 1;
}

.sidebar .menu-items li {
  width: calc(var(--sidebar-width-active) - 0.8rem);
  border-top: 1px solid lightgray;
}

.sidebar .menu-items li>button {
  width: 100%;
  display: inline-block;
  line-height: 30px;
  background-color: transparent;
  color: white;
  font-size: 18px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.4rem;
  border: none;
  pointer-events: none;
}

.sidebar.active .menu-items li>button {
  pointer-events: auto;
  cursor: pointer;
}

.sidebar.active .menu-items li>button:hover {
  background-color: #C0C0C0;
}

.Itinerary {
  height: 100vh;
  overflow: hidden;
}

.Itinerary:hover {
  overflow-y: scroll;
}

.Food {
  height: 100vh;
  overflow: hidden;
}

.Food:hover {
  overflow-y: scroll;
}

.Day {
  border: 2px solid red;
  width: 90%;
}
